body{
    margin:0;
    padding:0;
    font-size:18px;
    font-family: 'Avenir Next';
    background-color: #ddd;
}

/* .barcom{
    display:flex;
    box-shadow: 0px -3px 7px rgb(231, 231, 231);
    background-color: white;
    width : 100vw;
    height : 8vh;
    margin-top:88vh;
    align-content: space-between;
    color:red;
}

.commentaire{
    height: 6vh;
    width:65vw;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 4px rgb(231, 231, 231);
    margin-left: 2vh;
}

.ecris{
    justify-content : center;
    margin-top:-2px;
}

 */



.comment-bar {
    position: fixed;
    bottom: 0rem;
    right:0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 9px 4px rgba(0,0,0,0.08);
    padding: 1rem;
    display: flex;
    justify-content:space-between;
}


.comment-bar-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    border-radius: 25px;
    background: #0652DD;
    border-radius: 12px;
    color:white;
    font-size: 1rem;
    padding: .2rem;
    padding-left: .75rem;
    padding-right: .75rem;
}

.comment-bar-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    background: #F5F5F5;
    box-shadow: inset 0 0 7px 0 rgba(0,0,0,0.08);
    border-radius: 15px;
    font-size: 1rem;
    padding: .2rem;
    padding-left: .75rem;
    max-width: 170px;
}

.filter-bar{
    position: fixed;
    top:30vh;
    right:0rem;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 9px 4px rgba(0,0,0,0.08);
    padding: 1rem;
    display: flex;
    justify-content:space-between;
}

.contre, .pour, .neutre, .all{
    color:white;
    border-radius:20px;
    padding: 0.1rem;
    padding-right:2rem;
}

.contre{
    border: 1px solid #EB4D4B;
    padding-right:3rem;
}

.pour{
    border: 1px solid #4CD589;
    padding-right:3rem;
}
.neutre{
    border: 1px solid #D8D8D8;
    padding-right:3rem;
}
.all{
    border: 1px solid #0652DD;
    background-color: #0652DD;
    font-size: 1rem;
    display :flex;

}

.retour-timer{
    display:flex;
    flex-wrap: nowrap;
    align-content: space-between;
    padding-left: .3rem;
    padding-right:1rem;
 
}
.timer{
    display:flex;
    position :fixed;
    flex: nowrap;
    font-size: 1rem;
    right:0rem;
    border-radius: 20px;
}

.retour{

}

.button-vote{
    position:fixed;
    display:flex;
    justify-content: center;
    right:0rem;
}

.vote-pour, .vote-contre{
    border-radius:20px;
    font-size: 1rem;
    padding:1rem;
}





